pkgbase = python-dj-settings
	pkgdesc = Settings manager and configuration parser
	pkgver = 5.0.0
	pkgrel = 1
	url = https://github.com/spapanik/dj_settings
	arch = any
	license = LGPL3
	depends = python-yaml
	source = https://files.pythonhosted.org/packages/source/d/dj_settings/dj_settings-5.0.0.tar.gz
	sha256sums = deaa5171bd652512620982c199bebcc9d1dbdeff4d08dfe167ca9797713c9ff6

pkgname = python-dj-settings
